@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #080808;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
